body {
    margin: 1rem;
    background-color: var(--color-background-primary);
    color: var(--color-font-primary);
    font-family: "Pontano Sans", sans-serif;
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body);
}

h1 {
    font-family: "Prompt", sans-serif;
    font-weight: var(--font-weight-xlarge);
    font-size: var(--font-size-xxlarge);
    margin-bottom: 0;
}

h2 {
    font-family: "Prompt", sans-serif;
    font-weight: var(--font-weight-xlarge);
    font-size: var(--font-size-xlarge);
    margin-bottom: 0;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: var(--font-weight-large);
    font-size: var(--font-size-large);
    margin-top: 0;
}

a {
    font-family: "Pontano Sans", sans-serif;
    text-decoration: none;
    color: var(--color-font-primary);
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-med);
}

button {
    border-radius: var(--border-radius-large);
    border-width: 1px;
    border-color: var(--color-background-primary);
    border-style: solid;
    background-color: transparent;
    padding: 5px 15px;
    box-shadow: none;
    margin-top: 10px;
    font-size: var(--font-size-body);

    &.add-button {
        border-color: var(--color-font-primary);
        color: var(--color-font-primary);
        margin: 30px auto;
        left: auto;
        right: auto;
        display: block;
        width: 60vw;
        height: auto;
        transition: 0.2s;
        font-size: var(--font-size-large);
    }
    &.add-button:hover {
        background-color: var(--color-font-primary);
        color: var(--color-background-primary);
        border-color: var(--color-background-primary);
    }
}

.nav{
    display: block;

    a {
        padding: 1rem;
    }

    .logo {
        font-family: "Prompt", sans-serif;
        font-weight: var(--font-weight-xlarge);
        font-size: var(--font-size-large);
        margin-right: 1rem;
    }

    .right{
        float: right;
        margin-top: -5px;
    }
}

.landing {
    margin: 3rem 0rem;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px -5px;
}

.centered{
    text-align: center;
    margin-top: 5rem;
}

.profile-pic{
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    width: 20vw;
    height: 20vw;
    border-radius: var(--border-radius-med);

}